include LICENSE.txt
include RELEASE.md
include README.md

include setupbase.py
include pytest.ini
include .coverage.rc

# Tests
graft test
graft testnotebooks

# Documentation
graft docs
exclude docs/\#*

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints


# JS files
graft unray/static
graft js
prune **/node_modules
prune **/coverage
prune js/dist
